#broke{display:block;}
#red{display:none;}
#yellow{display:none;}
#green{display:none;}
#deceive{display:none;text-align: center;}
#degrade{display:none;text-align: center;}
#deny{display:none;}
#destroy{display:none;text-align: center;}
#disrupt{display:none;text-align: center;}
#deny1{display:none; text-align: center;}
h2{text-align:center;}
p{text-align:center;}
.body{padding-left:40%}
